<div style="width: 50%;">
  <nz-steps [nzCurrent]="index" (nzIndexChange)="onIndexChange($event)">
    <nz-step nzTitle="生成配置" nzDescription=""></nz-step>
    <nz-step nzTitle="安装部署" nzDescription="" [nzDisabled]="!compiledData"></nz-step>
  </nz-steps>
</div>
<div *ngIf="index === 0" style="padding: 20px">
  <form nz-form [formGroup]="validateForm">
    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzFor="etcdType">Yui平台etcd</nz-form-label>
      <nz-form-control [nzSpan]="14">
         <nz-radio-group formControlName="etcdType">
          <label nz-radio nzValue="built-in">自动生成</label>
          <label nz-radio nzValue="customized">自定义</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="validateForm.value.etcdType === 'customized'">
      <nz-form-label [nzSpan]="3" nzFor="etcd">etcd host</nz-form-label>
      <nz-form-control [nzSpan]="14">
         <input type="text" nz-input formControlName="etcdHost" placeholder="http://127.0.0.1:2379,http://127.0.0.1:2380..." />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzFor="targetEtcdType">被监控集群etcd</nz-form-label>
      <nz-form-control [nzSpan]="14">
         <nz-radio-group formControlName="targetEtcdType">
          <label nz-radio nzValue="built-in">与Yui平台相同</label>
          <label nz-radio nzValue="customized">自定义</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="validateForm.value.targetEtcdType === 'customized'">
      <nz-form-label [nzSpan]="3" nzFor="targetEtcdHost">etcd host</nz-form-label>
      <nz-form-control [nzSpan]="14">
         <input type="text" nz-input formControlName="targetEtcdHost" placeholder="http://127.0.0.1:2379,http://127.0.0.1:2380..." />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzFor="targetScope">被监控集群scope</nz-form-label>
      <nz-form-control [nzSpan]="14">
         <input type="text" nz-input formControlName="targetScope" placeholder="test" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzFor="redisType">Redis</nz-form-label>
      <nz-form-control [nzSpan]="14">
         <nz-radio-group formControlName="redisType">
          <label nz-radio nzValue="built-in">自动生成</label>
          <label nz-radio nzValue="customized">自定义</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="validateForm.value.redisType === 'customized'">
      <nz-form-label [nzSpan]="3" nzFor="redisHost">Redis Uri</nz-form-label>
      <nz-form-control [nzSpan]="14">
         <input type="text" nz-input formControlName="redisHost" placeholder="redis://127.0.0.1:6379" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="validateForm.value.redisType === 'customized'">
      <nz-form-label [nzSpan]="3" nzFor="redisDB">Redis DB</nz-form-label>
      <nz-form-control [nzSpan]="14">
         <input type="number" nz-input formControlName="redisDB" placeholder="1" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzFor="databaseType">Database</nz-form-label>
      <nz-form-control [nzSpan]="14">
         <nz-radio-group formControlName="databaseType">
          <label nz-radio nzValue="built-in">自动生成</label>
          <label nz-radio nzValue="customized">自定义</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="validateForm.value.databaseType === 'customized'">
      <nz-form-label [nzSpan]="3" nzFor="dbType">Database Type</nz-form-label>
      <nz-form-control [nzSpan]="6">
         <nz-select formControlName="dbType">
          <nz-option nzValue="mariadb" nzLabel="mariadb"></nz-option>
          <nz-option nzValue="mysql" nzLabel="mysql"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="validateForm.value.databaseType === 'customized'">
      <nz-form-label [nzSpan]="3" nzFor="dbHost">Database Host</nz-form-label>
      <nz-form-control [nzSpan]="14">
         <input type="text" nz-input formControlName="dbHost" placeholder="127.0.0.1" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="validateForm.value.databaseType === 'customized'">
      <nz-form-label [nzSpan]="3" nzFor="dbPort">Database Host</nz-form-label>
      <nz-form-control [nzSpan]="14">
         <input type="number" nz-input formControlName="dbPort" placeholder="3306" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="validateForm.value.databaseType === 'customized'">
      <nz-form-label [nzSpan]="3" nzFor="dbUsername">Database Username</nz-form-label>
      <nz-form-control [nzSpan]="14">
         <input type="text" nz-input formControlName="dbUsername" placeholder="root" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="validateForm.value.databaseType === 'customized'">
      <nz-form-label [nzSpan]="3" nzFor="dbPassword">Database Password</nz-form-label>
      <nz-form-control [nzSpan]="14">
         <input type="password" nz-input formControlName="dbPassword" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="validateForm.value.databaseType === 'customized'">
      <nz-form-label [nzSpan]="3" nzFor="dbName">Database Name</nz-form-label>
      <nz-form-control [nzSpan]="14">
         <input type="text" nz-input formControlName="dbName" placeholder="yui"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzFor="traefikType">Traefik</nz-form-label>
      <nz-form-control [nzSpan]="14">
         <nz-radio-group formControlName="traefikType">
          <label nz-radio nzValue="built-in">自动生成</label>
          <label nz-radio nzValue="customized">自建</label>
          <label nz-radio nzValue="none">其他反代</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="validateForm.value.traefikType != 'built-in'">
      <nz-form-label [nzSpan]="3" nzFor="serverExposeHost">网关绑定IP</nz-form-label>
      <nz-form-control [nzSpan]="14">
         <input type="text" nz-input formControlName="serverExposeHost" placeholder="127.0.0.1" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="validateForm.value.traefikType == 'none'">
      <nz-form-label [nzSpan]="3" nzFor="serverExposePort">网关绑定端口</nz-form-label>
      <nz-form-control [nzSpan]="14">
         <input type="number" nz-input formControlName="serverExposePort" placeholder="8080" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="validateForm.value.traefikType != 'built-in'">
      <nz-form-label [nzSpan]="3" nzFor="webExposeHost">静态文件服务器绑定IP</nz-form-label>
      <nz-form-control [nzSpan]="14">
         <input type="text" nz-input formControlName="webExposeHost" placeholder="127.0.0.1" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="validateForm.value.traefikType != 'built-in'">
      <nz-form-label [nzSpan]="3" nzFor="webExposePort">静态文件服务器端口</nz-form-label>
      <nz-form-control [nzSpan]="14">
         <input type="number" nz-input formControlName="webExposePort" placeholder="8081" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzFor="host">绑定域名</nz-form-label>
      <nz-form-control [nzSpan]="14">
         <input type="text" nz-input formControlName="host" placeholder="yui.example.com" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzFor="portRange">使用端口范围</nz-form-label>
      <nz-form-control [nzSpan]="14">
         <input type="text" nz-input formControlName="portRange" placeholder="8000-8100" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzFor="aliKeyId">阿里云AccessKeyId</nz-form-label>
      <nz-form-control [nzSpan]="14">
         <input type="secrect" nz-input formControlName="aliKeyId" placeholder="" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzFor="aliSecret">阿里云KeySecret</nz-form-label>
      <nz-form-control [nzSpan]="14">
         <input type="secrect" nz-input formControlName="aliSecret" placeholder="" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzFor="aliAccountName">阿里云邮箱账号</nz-form-label>
      <nz-form-control [nzSpan]="14">
         <input type="text" nz-input formControlName="aliAccountName" placeholder="yui@example.com" />
      </nz-form-control>
    </nz-form-item>
  </form>

  <button nz-button (click)="generateZip()">生成配置</button>
</div>
<div *ngIf="index === 1" style="padding: 20px">
  <markdown
    ngPreserveWhitespaces>
    ## 安装准备
    首先需要保证你的系统中安装了 docker 与 docker-compose
    ## 解压缩配置文件
    将下载的yui.zip解压到安装目录，本文假设安装目录为```/data```
  </markdown>
  <markdown
    *ngIf="compiledData?.hasDependence"
    ngPreserveWhitespaces
    >
    ## 启动依赖
    切换工作目录至```/data/dependence``` 执行以下指令启动所有依赖项

    ``` bash
    yaya@Sora:/data/dependence$ docker-compose up -d
    ```
  </markdown>
  <markdown
    ngPreserveWhitespaces>
    切换工作目录至```/data/yui```
  </markdown>
  <markdown
    *ngIf="compiledData?.databaseType === 'built-in'"
    ngPreserveWhitespaces>
    ## 创建数据库
    ```bash
    yaya@Sora:/data/yui$ sudo chmod +x ./create-database.sh
    yaya@Sora:/data/yui$ ./create-database.sh
    ```
  </markdown>
  <markdown
    *ngIf="compiledData?.databaseType !== 'built-in'"
    ngPreserveWhitespaces>
    ## 创建数据库
    链接数据库并执行
    ```sql
    mysql> create database if not exists {{compiledData?.dbName}};
    ```
  </markdown>
  <markdown
    ngPreserveWhitespaces>
    ## 创建数据表
    ```bash
    yaya@Sora:/data/yui$ sudo chmod +x ./migrate.sh
    yaya@Sora:/data/yui$ ./migrate.sh
    ```
  </markdown>
  <markdown
    ngPreserveWhitespaces>
    ## 创建Root管理账户
    ```bash
    yaya@Sora:/data/yui$ sudo chmod +x ./create-root.sh
    yaya@Sora:/data/yui$ ./create-root.sh
    ```
  </markdown>
  <markdown
    ngPreserveWhitespaces>
    ## 启动服务器
    ```bash
    yaya@Sora:/data/yui$ docker-compose up -d
    ```
  </markdown>
  <markdown
    *ngIf="compiledData?.traefikType === 'customized'"
    ngPreserveWhitespaces>
    ## 设置traefik
    1. 添加etcd provider
    将集群的etcd添加至traefik中，可参考文档 [Traefik Etcd Documentation - Traefik](https://doc.traefik.io/traefik/providers/etcd/)
    2. 添加代理配置
    ```yaml
    http:
      routers:
        yui:ws-api:
          rule: 'Host(`{{compiledData?.host}}`) && PathPrefix(`/ws`)'
          service: 'yui-maintain-backend:http-gateway:websocket@etcd'
          middlewares:
            - gzip-compress
        yui:frontend:
          rule: 'Host(`{{compiledData?.host}}`)'
          service: 'nginx:yui-maintain-frontend'
          middlewares:
            - gzip-compress
      services:
        nginx:yui-maintain-frontend:
          loadBalancer:
            servers:
              - url: "http://{{compiledData?.webExposeHost}}:{{compiledData?.webExposePort}}"
      middlewares:
        gzip-compress:
          compress: {{'{'}}}
    ```
  </markdown>
  <markdown
    *ngIf="compiledData?.traefikType === 'none'"
    ngPreserveWhitespaces>
    ## 配置反代
    将 http://{{compiledData?.host}}/ws 反代至 http://{{compiledData?.serverExposeHost}}:{{compiledData?.serverExposePort}}
    将 http://{{compiledData?.host}} 反代至 http://{{compiledData?.webExposeHost}}:{{compiledData?.webExposePort}}
  </markdown>
</div>
